!!! 5
head
  title eirikb.no
  meta(charset='utf-8')
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css')
  script(src='http://code.jquery.com/jquery.min.js')
  script(src='https://raw.github.com/eirikb/lett/master/corelib.js')
  script(src='https://raw.github.com/eirikb/lett/master/parser.js')
  script(src='https://raw.github.com/eirikb/lett/master/lett.js')
  script(src='main.js')
  style ol { outline: none; } ol.linenums li {color: black; } .container { margin-top: 20px; }
body
  .container
    .row
      .span2
        ul#examples.nav.nav-list
          for example in examples
            li
              a(href='/lett/examples/' +example) #{example}
      .span4
        pre.prettyprint.linenums
          ol.linenums(contenteditable=true)
      .span1
        button#parse.btn.btn-primary PARSE
          i.icon-arrow-right.icon-white
      #result.span4.well
