!!! 5
head
  title lett - lett is Not a Language
  meta(charset='utf-8')
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css')
  link(rel='stylesheet', href='main.css')
  script(src='http://code.jquery.com/jquery.min.js')
  script(src='http://documentcloud.github.com/underscore/underscore-min.js')
  script(src='https://raw.github.com/eirikb/lett/master/lett.min.js')
  script(src='main.js')
body
  a(href='http://github.com/eirikb/lett')
    img.forkme(src='http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')
  .container
    .row
      .span2
        ul#examples.nav.nav-list
          for example in examples
            li
              a(href='/lett/p/examples/' +example) #{example}
      .span4
        pre.prettyprint.linenums
          ol.linenums(contenteditable=true)
      .span1
        button#parse.btn.btn-primary PARSE
          i.icon-arrow-right.icon-white
      #result.span4.well
