!!! 5
head
  title eirikb.no
  meta(charset='utf-8')
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
  script(src='http://code.jquery.com/jquery.min.js')
  script(src='corelib.js')
  script(src='lett.js')
  script(src='main.js')
body
  .container(style='margin-top: 10px')
    .row
      .span2
        ul#examples.nav.nav-list
      .span4
        textarea.span4(rows=15)
      .span1
        button.btn.btn-primary PARSE
          i.icon-arrow-right.icon-white
      .span5
        ul#tree.well
